* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: var(--mb-1-5);
}

.section {
  padding-block: 5rem 1rem;
}

@media screen and (min-width: 1050px) {

  .app {
    padding-inline: 13rem;
  }
}