/*=============== Reusable Css Classes ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1rem;
}

body {
    font-family: var(--body-font);
}

.grid {
    display: grid;
    gap: var(--mb-1-5);
}

.section {
    padding-block: 5rem 1rem;
}

.TodoFormCon {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.Input {
    padding: 1.2rem 1.5rem;
    border: none;
    outline: none;
    margin-left: -1rem;
    font-size: 1.5rem;
    background-color: transparent;
}

.TodoCardCon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 1rem;
    width: 90%;
    margin-top: .5rem;
}

.button {
    font-size: 2rem;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    cursor: pointer;
}

@media screen and (min-width: 650px) {
    .TodoCardCon {
        width: 80%;
    }
}