/*=============== Reusable Css Classes ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1rem;
}


body {
  font-family: var(--body-font);
}

.grid {
  display: grid;
  gap: var(--mb-1-5);
}

.section {
  padding-block: 5rem 1rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.input {
  padding: 1rem;
  border: none;
  outline: none;
  margin-left: -1rem;
  font-size: 1rem;
}

.formCon {
  align-items: center;
  justify-content: center;
  border: 1px solid #999999;
  border-radius: 2rem;
  margin-bottom: 1.5rem;
}

.button {
  font-size: 2rem;
  background-color: #fff;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999999;
  cursor: pointer;
}

@media screen and (max-width: 350px) {

  .form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-inline: .5rem;
  }

  .input {
    padding: 1rem;
    border: none;
    outline: none;
    margin-left: .5rem;
    font-size: .8rem;
  }

  .button {
    font-size: 1.5rem;
    background-color: #fff;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    cursor: pointer;
  }

}

@media screen and (min-width: 650px) {
  .form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-inline: .5rem;
  }
.input {
  padding: 2rem;
}
  .formCon {
    width: 80%;
    margin-inline: auto;
  }
}