* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1120px;
  margin-inline: 1rem;
}

.grid {
  display: grid;
  gap: var(--mb-1-5);
}

.todo-tasks {
  width: 100%;
  margin-inline: 0;
  background: #99999961;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: .5rem;

}

.render-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
  text-align: center;
  margin-top: 4rem;
}

.render-image {
  height: 200px;
}

.render-text {
  font-size: 1.5rem;
  display: none;
  margin-bottom: -.7rem;
}
.render-icon {
  font-size: 15rem;
  display: none;
  color: #7e7c7c99;
  background-color: #fff;
}


@media screen and (min-width: 650px) {
  .todo-tasks {
    width: 80%;
    padding: .5rem;
    margin-inline: auto;
  
  }

}
